* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1 {
    font-family: 'Cabin', sans-serif;
    font-size: 20px;
    text-align: left;
    font-weight: bolder;
    display: absolute;
    position: relative;
    color: rgb(249, 245, 245);
    padding: 5px;
}
    
#banner{
    width: 100%;
    height: 240px;
    object-fit: cover;
    object-position: 0% 30%;
}

header{
    width: auto;
    height:auto ;
    max-width:96%;
    padding: 5px;

}

div.container {
    width: 100%;
    height: 250px;
    background-color: #535252;
    background-image: url('assets/hockey 3.jpg');
    background-size: cover;
    background-position: 0% 20%;
    background-repeat: no-repeat;
    object-fit: cover;
    object-position: 0% 20%;
}

div.contact{
    max-width: 100%;
    height: 100%;
    min-height: 1050px;
    margin: 0 auto;
    padding: 1rem;
    background-image: url('');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0% 20%;
    object-position: center;
}

nav {
    background-color: #444;
    padding: 0.5rem;
    text-align: center;
}
nav a {
    color: white;
    text-decoration: none;
    margin: 0 1rem;
    transition: color 0.3s; /* Agregar transición para cambiar el color suavemente */
}

nav a:hover {
    color: #ffd700; /* Cambiar el color al pasar el cursor sobre el enlace */
}


main{
    width: 100%;
    height: auto;
    background-color: #f9f5f5;
}
